@font-face {
  font-family: 'JetBrains Mono';
  src: url('assets/fonts/ttf/JetBrainsMono-Regular.ttf');
}
@font-face {
  font-family: 'JetBrains Mono Bold';
  src: url('assets/fonts/ttf/JetBrainsMono-Bold.ttf');
}
@font-face{
  font-family: 'JetBrains Mono ExtraBold';
  src: url('assets/fonts/ttf/JetBrainsMono-ExtraBold.ttf');
}
html{
  all: unset;
  width: 100vw;
  height: 100vh;
  background-color: rgb(220, 220, 220);
  font-family: 'JetBrains Mono';
  overflow-x: hidden;
}
body, #root, #app{
  all: unset;
  width: 100%;
  height: 100%;
}
#home{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#name{
  font-size: 10vmax;
  position: absolute;
  color: black;
  z-index: 1;
  cursor:default;
}
#shadow{
  position: absolute;
  z-index: -1;
  color:rgb(180, 180, 180);
}
#three{
  all:unset;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}
#nav{
  font-size:1.3vmax;
  position: absolute;
  display: flex;
  flex-flow: column wrap;
}
#nav ul{
  margin:0;
}
.nav_element{
  display: inline-block;
  cursor:pointer;
}
.nav_element .underline{
  height: 2px;
  background-color: black;
}
#about{
  width: 100%;
  height: 100%;
}
#about_content{
  position: absolute;
  right: 3%;
  display: inline-block;
  z-index: 1;
}
#about_title{
  font-size: 7vmax;
}
#about_textblock{
  width: 30em;
  font-size: 1.5vmax;
}
jb{
  font-family: 'JetBrains Mono Bold';
}