@font-face {
  font-family: 'JetBrains Mono';
  src: url('assets/fonts/ttf/JetBrainsMono-Regular.ttf');
}
@font-face {
  font-family: 'JetBrains Mono Bold';
  src: url('assets/fonts/ttf/JetBrainsMono-Bold.ttf');
}
body{
  display:flex;
  flex-flow: column wrap;
  background-color: rgb(25, 25, 25);
  font-family: 'JetBrains Mono';
}
#about{
  display:flex;
  flex-flow: column wrap;

  position:fixed;
  top:30%;

  font-size: 200%;
  color:white;

  text-align: left;
}
#name{
  font-family: 'JetBrains Mono Bold';
  font-size: 200%;
}