@font-face {
  font-family: 'JetBrains Mono';
  src: url('assets/fonts/ttf/JetBrainsMono-Regular.ttf');
}
@font-face {
  font-family: 'JetBrains Mono Bold';
  src: url('assets/fonts/ttf/JetBrainsMono-Bold.ttf');
}
@font-face{
  font-family: 'JetBrains Mono ExtraBold';
  src: url('assets/fonts/ttf/JetBrainsMono-ExtraBold.ttf');
}
#root{
  all:unset;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}
#app{
  width: 100%;
  height: 100%;
  font-family: 'JetBrains Mono';
  /* background-color: rgb(75, 75, 75); */
  background-color: rgb(220, 220, 220);
}
#home{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#name{
  font-size: 10vmax;
  position: absolute;
  color: black;
  z-index: 1;
  cursor:default;
}
#shadow{
  position: absolute;
  top:10%;
  left: -10%;
  z-index: -1;
  color:rgb(180, 180, 180);
}
#three{
  all:unset;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}
#nav{
  font-size:1.3vmax;
  position: absolute;
  display: flex;
  flex-flow: column wrap;
}
#nav ul{
  margin:0;
}
.nav_element{
  display: inline-block;
  cursor:pointer;
}
.nav_element .underline{
  height: 2px;
  background-color: black;
}